@import "src/shared/util/variables";

#bugs-page {
  font-family: 'ZCOOL KuaiLe', cursive;
  background-color: $light-green;
  padding: 20px;
}

#bugs-page-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
