@import "./variables";

.critter-card {
  background-color: $dark-green !important;
  width: 300px;
  margin-bottom: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 20px;
  padding-top: 0;
  
  img {
    width: 100%;
    align-self: center;
    background-color: $dark-white;
    margin-bottom: 20px;
    border-radius: 4px;
  }

  .card-title {
    height: 2em;
    font-size: larger;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-body {
    background-color: $dark-green;
    // font-weight: 600;
    padding: 0;
    .critter-card-body-fst-row {
      font-size: 14px;
      height: 35px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      margin-bottom: 0.5em;

      div {
        width: 48%;
        background-color: $light-green;
        // border: 1px solid black;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .critter-card-location {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    .critter-card-months {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .month-square {
      font-size: 14px;
      font-weight: 600;
      color: #333333;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $dark-white;
    }
  }
}

.critter-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);;
}