@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import './shared/util/variables';

html, body {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  white-space: pre-line;
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
  font-family: 'ZCOOL KuaiLe', cursive;
}

#route-container {
  padding-top: 56px;
  height: 100%;
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .App {
    font-size: smaller;
  }
  #header {
    .navbar {
      display: flex;
      flex-direction: column;

      a {
        vertical-align: middle;
      }
    }
    ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    ul::-webkit-scrollbar {
      display: none;
    }
  }

  #route-container {
    margin-top: 91px;
    height: calc(100vh - 91px);
  }
}
